# Vercel – Root Directory = admin-cms
DATABASE_URL=
ADMIN_CMS_PASSWORD=
ADMIN_CMS_SECRET=
BOT_TOKEN=
ADMIN_CMS_USERNAME=admin
SESSION_MAX_AGE_HOURS=8
NODE_ENV=production
CHANNEL_USERNAME=@SoftworkNovaSuite
GROUP_USERNAME=@softworknovasuitecommunity
